te.bottomdialog:{
    margin:20px;
}
.fadeMe {
    opacity:0.5;
    filter: alpha(opacity=50);
    background-color:#000; 
    width:100%; 
    height:100%; 
    z-index:10;
    top:0; 
    left:0; 
    position:fixed; 
}
.popup {
    position: fixed; 
    left: 50%; top: 50%;
    width: 400px; 
    margin-left: -200px; margin-top: -150px;
    background: white; 
    padding: 10px;
    z-index: 11;
}

.flex{
    display:flex;
    flex-direction:row;
}
.flex-item{
    flex:1;
    padding:20px;
}

.tickData{
    flex:1;
}

.porowtemplate{
    /* border-bottom: blue; */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    padding-bottom: 3px;
}

.qbevaluelistemplate{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.qbeval1{
    flex:5;
}

.radiobutton{
    display:block;
}
